{{cookiecutter.project_name}}/{{cookiecutter.project_name}}/settings/dev.py
{{cookiecutter.project_name}}/{{cookiecutter.project_name}}/settings/production.py
__pycache__/
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
pip-log.txt
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
media/*
{{cookiecutter.project_name}}/media/*
{{cookiecutter.project_name}}/assets/*
.idea/*
.templates/
.templates
CACHE
CACHE/*
venv/*